<% if current_user %>
  <div class="header-picture">
    <%= link_to profile_path do %>
      <%= cl_image_tag current_user.photo.key, class: 'avatar', height: 60, width: 60, crop: :fill, gravity: :face %>
    <% end %>
  </div>
<% end %>
