<div class="product-card">

    <div class="icon">
      <%= render 'icons/brand_icon' %>
    </div>


    <div class="rating-box">
      <h5 class="rating-title"><%= title %> </h5>
<!--       <div class="rating-bar"> -->
        <!-- interpolate the average of rating -->
<!--         <div class="rate-8">
          <span class="rate-8 blue">&nbsp;</span>
        </div>
      </div> -->
      <%= render 'shared/rating_bar', rating: rating %>
    </div>

    <div class="dropdown-icon active">
      <i class="fas fa-caret-down"></i>
    </div>
  </div>
