<!--  <button class="profile-button"> -->
    <div class="button-content">
      <div class="circle">
        <%= render 'icons/garma_icon_logo', width: 30, height: 30; %>
      </div>
      <h3><%= text %></h3>
    </div>
<!--   </button> -->
