@import "scan";

.mobile-container {
   width: 100vw;
   height: 100vh;
   margin: 0 auto;
}

.header-section {
  height:25vh;
  margin: 15px 10px 0px 15px;
  display: flex;
  align-items: flex-start;
}

.teaser {

}

.profile-picture {

}

.brand-selection {
  margin: 15px 10px 0px 15px;

}
