@import "scan";

.mobile-container {
   width: 100vw;
   height: 100vh;
   margin: 0 auto;
}

.header-section {
  height:150px;
  margin: 15px 10px 0px 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.search-bar {
  width:80vw;
  border-radius: 20px;
  padding: 10px 30px 10px 10px;
  border: 2px solid #06436F;
}

.close-icon {
  position:absolute;
  left:79%;
  top: 30%;
}

.brand-selection {
  margin: 15px 10px 0px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.brand-card {
  height: 120px;
  width: 120px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
