
.scanner-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow:hidden;
}

.blurred-back {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
}

.video-wrapper {
  height: 100% !important;
  width: auto !important;
}

#video::-webkit-media-controls {
  display:none !important;
}
#video::-webkit-media-controls-enclosure {
  display:none !important;
}
.scan-focus {
  position: absolute;
  bottom: 50%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
}

.scan-bar {
  height: 150px;
  width: 300px;
  border: solid 4px $primary;
  animation: scan-animation 2s infinite;
  animation-timing-function: ease-in-out;
  border-radius: 20px;
  margin-bottom: 20px;
  transition-duration: 500ms;
}

.scan-button-container {
  width: 100vw;
  bottom: 3%;
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.scan-close-icon {
  line-height: 0;
  i {
    font-size: 2rem;
    background: linear-gradient(180deg, #6AE29C 0%, #4EC5EF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.scan-success {
  width: 50px;
  height: 50px;
}
.scan-hide {
  display: none;
}

.scan-title {
  padding: 45px 50px;
  align-self: start;
}

@keyframes scan-animation {

  0% {
      border-color: $primary;
  }

  50% {
      border-color: $secondary;
      transform: scale(1.1);
  }

  100% {
      border-color: $primary;
  }

}

// Loading icon

@keyframes ldio-rzsp2ql3h2 {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.34,1.34);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-rzsp2ql3h2 div > div {
  position: absolute;
  width: 9.92px;
  height: 9.92px;
  border-radius: 50%;
  background: #6ae29c;
  animation: ldio-rzsp2ql3h2 1.0204081632653061s linear infinite;
}.ldio-rzsp2ql3h2 div:nth-child(1) > div {
  left: 77px;
  top: 57px;
  animation-delay: -0.9070294784580498s;
}
.ldio-rzsp2ql3h2 > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 81.96px 61.959999999999994px;
}.ldio-rzsp2ql3h2 div:nth-child(2) > div {
  left: 72px;
  top: 70px;
  animation-delay: -0.7936507936507936s;
}
.ldio-rzsp2ql3h2 > div:nth-child(2) {
  transform: rotate(40deg);
  transform-origin: 76.96px 74.96px;
}.ldio-rzsp2ql3h2 div:nth-child(3) > div {
  left: 60px;
  top: 77px;
  animation-delay: -0.6802721088435374s;
}
.ldio-rzsp2ql3h2 > div:nth-child(3) {
  transform: rotate(80deg);
  transform-origin: 64.96px 81.96px;
}.ldio-rzsp2ql3h2 div:nth-child(4) > div {
  left: 47px;
  top: 74px;
  animation-delay: -0.5668934240362812s;
}
.ldio-rzsp2ql3h2 > div:nth-child(4) {
  transform: rotate(120deg);
  transform-origin: 51.959999999999994px 78.96px;
}.ldio-rzsp2ql3h2 div:nth-child(5) > div {
  left: 38px;
  top: 64px;
  animation-delay: -0.4535147392290249s;
}
.ldio-rzsp2ql3h2 > div:nth-child(5) {
  transform: rotate(160deg);
  transform-origin: 42.959999999999994px 68.96px;
}.ldio-rzsp2ql3h2 div:nth-child(6) > div {
  left: 38px;
  top: 50px;
  animation-delay: -0.3401360544217687s;
}
.ldio-rzsp2ql3h2 > div:nth-child(6) {
  transform: rotate(200deg);
  transform-origin: 42.959999999999994px 54.959999999999994px;
}.ldio-rzsp2ql3h2 div:nth-child(7) > div {
  left: 47px;
  top: 40px;
  animation-delay: -0.22675736961451246s;
}
.ldio-rzsp2ql3h2 > div:nth-child(7) {
  transform: rotate(240deg);
  transform-origin: 51.959999999999994px 44.959999999999994px;
}.ldio-rzsp2ql3h2 div:nth-child(8) > div {
  left: 60px;
  top: 38px;
  animation-delay: -0.11337868480725623s;
}
.ldio-rzsp2ql3h2 > div:nth-child(8) {
  transform: rotate(280deg);
  transform-origin: 64.96px 42.959999999999994px;
}.ldio-rzsp2ql3h2 div:nth-child(9) > div {
  left: 72px;
  top: 44px;
  animation-delay: 0s;
}
.ldio-rzsp2ql3h2 > div:nth-child(9) {
  transform: rotate(320deg);
  transform-origin: 76.96px 48.959999999999994px;
}
.loadingio-spinner-spin-z8vzunaf1xh {
  width: 124px;
  height: 124px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-rzsp2ql3h2 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-rzsp2ql3h2 div { box-sizing: content-box; }
