.about-container{
  width:100vw;
  padding:3rem 1rem;
  margin-bottom: 3rem;
}
.logo-about{
  transform:scale(0.6);
}
.logo-container{
  width:100%;
    background-color: #6AE29C;
  background: linear-gradient(180deg, #6AE29C 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #4EC5EF 0%, rgba(78, 197, 239, 0) 100%);  background-repeat: no-repeat;

}
