// Specific CSS for your home-page
body {
  background-color: #6AE29C;
  background-image: linear-gradient(#6AE29C, #4EC5EF);
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  color: #ffff;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.container h1 {
  font-size: 70px;
  font-weight: 100;
  color: rgba(255,255,255,0.4);
  text-shadow: 1px 2px 3px #eee, 0 0 0 #000, 1px 2px 3px #eee;
}


.footer-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.footer-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.logo {
  filter: drop-shadow(#686868 1px 2px 3px);
}


