// Specific CSS for your home-page


.container {
  height: 100vh;
  width: 100vw;
  background-color: #6AE29C;
  background: linear-gradient(180deg, #6AE29C 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #4EC5EF 0%, rgba(78, 197, 239, 0) 100%);  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 150px;
  color: #ffff;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.container h1 {
  font-size: 70px;
  font-weight: 100;
  color: rgba(255,255,255,0.4);
}

.logo-container {
  display:flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.buttons-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  padding-bottom: 40px;
}
.footer-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.footer-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.logo {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 400px) {
  .logo > p{
    font-size: smaller;
  }
}





