.profile-hero{
  // background-color:yellow;
  display:flex;
  justify-content:flex-start;
  padding-top:3rem;
  padding-left: 2rem;
  .fullname{
    margin-left:1rem;
  }
}

.profile-info{
  display:flex;
  flex-direction:flex-start;
  width:100%;
  // background-color:pink;
  padding-top:3rem;
}

.user-list{
  list-style-type:none;
  width:80%;
  .list-item{
    display:flex;
  justify-content: flex-start;
    margin-bottom:.5rem;
    .icon-div{
      width:60px
    }
    h3{
      margin-left: .6rem;
    }
  }
}
.margin-for-menu{
  height:4rem;
}


