


.product-title{
  display:flex;
  justify-content:center;
  flex-direction:column;
  text-align: center;
  padding:3rem 2.1rem 1rem ;
  background-color:yellow;
  margin:0 auto;
  width:100%;
  text-align:justify;
  h3{
    text-align: left;
    margin:0;
  }
}

.rating-leafs-container{
  display:flex;
  justify-content:center;
  align-items:center;
  width:420px;
  height:4rem;
  margin:0 auto;
  background-color:crimson;
  margin-bottom:2rem;
}

.complementary-leafs{
  display:flex;
  justify-content:center;
  align-items:center;
  width:250px;
  height:4rem;
  margin:.3rem auto;
  background-color:purple;
  margin-bottom:2rem;
}



.photo-container{
  width:400px;
  height: 400px;
  background-color:pink;
  margin:0 auto;
  border-radius: 20px;
}

.article-num{
  margin:0 auto;
  display:flex;
  justify-content:center;
  background-color:green;
  margin-bottom:3rem;
}

.rating-article-container{
  padding:0 2rem;
  .description-article{
    padding-bottom:1rem;
  }
}

.empty-square{
  width:500px;
  height: 500px;
  background-color:violet;
  margin:0 auto;
  border-radius: 20px;
}

.arrow-open-close{
  width:40px;
  height:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:gray;
  margin:0 auto 3rem;
}

.like-button{
  width:60px;
  height:60px;
  margin-bottom:6rem;
}

