<% @disable_avatar = true %>
<div class="mobile-container">


  <div class="logo-container">
    <%= image_tag 'gradient_logo.png', height:'182', width:'295', class:'logo-about'%>
  </div>

  <!-- carousel -->

  <div class="carousel-container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://www.amicidivaligia.com/wp-content/uploads/2021/03/Copertina.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://image.freepik.com/premium-vector/vector-illustration-eco-friendly-concept-green-city-save-world_35669-62.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/CFDD/production/_106531235_getty_top.jpg" alt="Third slide">
        </div>
      </div>
    </div>
  </div>



    <div class="about-container">
      <h1>About Us</h1>
      <h3>Make your action to change the planet(to change)</h3>
      <article class="mb-3">
        The Garma App helps you to buy eco friendly clothing. Ever wondered how you can leave a positive footprint to the environment while buying clothes? Garma will make this easy for you.
      </article>
      <article class="mb-3">
        Just continue shopping like you used to do it. Before buying you favourit product, make the fact check with the Garma App: Was this piece of fashin really produced sustainable? Garma will check it for you. Then it's up to you to decide, if you really want to buy the product. With Garma you will make a fast fashion environmental impact.  </article>
    </div>

    <div class="button-div">
    <%= link_to "Back", :back, class:'garma-btn-primary center mb-3' %>
  </div>

  </div>

