<div class="container">
  <!-- Logo -->
  <svg class= "logo" alt="Logo of the Brand" title="logo"
  width="86" height="91" viewBox="0 0 86 91" fill="rgba(255,255,255,0.4)"
  xmlns="http://www.w3.org/2000/svg">
  <path d="M85.0187 37.2896C85.0187 25.8648 75.6922 16.5383 64.2674 16.5383H62.8684C60.6534 7.44508 52.3762 0.800003 42.7 0.800003C33.1404 0.800003 24.8632 7.44508 22.5316 16.5383H21.1326C9.70777 16.5383 0.381348 25.8648 0.381348 37.2896C0.381348 43.1187 2.71295 48.4814 7.02642 52.4451C6.44352 54.4269 6.09378 56.4088 6.09378 58.3907C6.21036 69.8156 15.4202 79.142 26.8451 79.142C30.4591 79.142 34.5394 78.2093 36.871 76.4606V88.585C36.871 89.8674 38.1534 90.8 39.4357 90.8H46.0808C47.3632 90.8 48.6456 89.8674 48.6456 88.585V76.4606C50.9772 78.2093 55.0575 79.142 58.6715 79.142C70.0964 79.142 79.4228 69.8156 79.4228 58.3907C79.4228 56.4088 79.0731 54.4269 78.4902 52.4451C82.5705 48.5979 85.0187 43.1187 85.0187 37.2896ZM73.4772 52.5617C74.1767 54.427 74.643 56.4088 74.643 58.3907C74.643 67.2508 67.415 74.4788 58.5549 74.4788C54.8243 74.4788 51.4435 73.1964 48.6456 70.9814C54.0083 69.8156 62.1689 65.8518 62.1689 53.2611C62.1689 51.9788 61.1197 50.9295 59.8373 50.9295C54.9409 50.9295 46.7803 52.9114 42.8166 59.7896C38.8528 52.9114 30.5756 50.9295 25.6793 50.9295C24.3969 50.9295 23.3477 51.9788 23.3477 53.2611C23.3477 65.8518 31.6249 69.8156 36.871 70.9814C34.0731 73.1964 30.5756 74.4788 26.9617 74.4788C18.1016 74.4788 10.8736 67.2508 10.8736 58.3907C10.8736 56.4088 11.2233 54.427 11.9228 52.5617L12.5057 50.9295L11.2233 49.8803C7.37617 46.8492 5.16114 42.186 5.16114 37.2896C5.16114 28.4295 12.3891 21.2016 21.2492 21.2016C22.1819 21.2016 23.1145 21.3181 24.1637 21.4347L26.6119 21.901L26.9617 19.4529C28.0109 11.5254 34.8891 5.46322 42.9332 5.46322C50.9772 5.46322 57.8554 11.5254 58.9047 19.4529L59.2544 21.901L61.7026 21.4347C62.7518 21.2016 63.6845 21.2016 64.6171 21.2016C73.4772 21.2016 80.7052 28.4295 80.7052 37.2896C80.7052 42.186 78.4902 46.8492 74.643 49.8803L73.244 50.9295L73.4772 52.5617Z"
  fill="#eee"/>
  </svg>
  <!-- Teaser -->
  <h1>GARMA</h1>
  <p>Your green garment Karma</p>
</div>


<!-- Buttons -->
<div class="footer-section1">
  <button type="button" class="garma-btn-primary" onclick="window.location.href='./brands';">Discover Brands</button>
</div>
<div class="footer-section2">
  <button type="button" class="garma-btn-secondary" onclick="window.location.href='./users/sign_in';">Login or Sign up</button>
</div>


