<div class="container">
  <!-- Logo -->
  <div class="logo">
    <%= image_tag 'logo.png' %>
    <!-- Teaser -->
    <p>Your green garment Karma</p>
  </div>
    <!-- Buttons -->
  <div class="buttons-container">
    <div class="footer-section1">
      <button type="button" class="garma-btn-primary" onclick="window.location.href='./brands';">Discover Brands</button>
    </div>
    <div class="footer-section2">
      <button type="button" class="garma-btn-primary" onclick="window.location.href='./users/sign_in';">Login</button>
    </div>
  </div>

</div>
</div>
