<div class="container">
  <!-- Logo -->
  <div class="logo">
    <%= image_tag 'logo.png', height: '182', width: '295' %>
    <!-- Teaser -->
    <p> Your Eco Friendly Clothing Karma</p>
  </div>
    <!-- Buttons -->
  <div class="buttons-container">
    <div class="footer-section1">
      <button type="button" class="garma-btn-primary" onclick="window.location.href='./brands';">Discover Brands</button>
    </div>
    <% if !current_user %>
    <div class="footer-section2">
      <button type="button" class="garma-btn-primary" onclick="window.location.href='./users/sign_in';">Login</button>
    </div>
    <% end %>
  </div>

</div>
</div>
