.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  color: $text-color;
  border: 2px solid white;
}

