.menu-footer {
  background: rgba(226, 228, 236, 0.56);
  backdrop-filter: blur(11px);
  border-radius: 20px 20px 0px 0px;
  height: 65px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-bottom: 2rem;

}
