.profile-button{
  width:85%;
  margin:0 auto 1rem auto;
  padding: 25px auto;
  border-radius:20px;
  background-color:white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  color: $text-color;
  .button-content{
    display:flex;
    justify-content:flex-start;
    margin:.7rem auto;
    align-items:center;
  }
  .circle{
    width:30px;
    height: 30px;
    border-radius:80%;
    margin-left: 0.5rem;
    margin-right:1rem;
    background-color:gray;
  }
  h3{
    font-weight: 200;
    color: $text-color;
    text-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin:0;
  }
}
