<% content_for :head do %>
  <title>All Brands | Garma</title>
  <meta name="robots" content="index, follow" />
  <meta name="description" content="Choose A brand and scan an Barcode , Gama then Reveal his impact on the Planet ."/>
  <meta property="og:title" content="Choose a Brand , Scan an Item and Change the World"/>
  <meta property="og:description" content="The Garma App helps you to buy eco friendly clothing. Ever wondered how you can leave a positive footprint to the environment while buying clothes? Garma will make this easy for you."/>
  <meta property="og:site_name" content="Garma">
  <!-- need an image -->
  <meta name="og:image" content='/assets/images/gradient_logo.png'>
  <meta property="og:url" content="https://www.garma.app/brands %>">
<% end %>


<div class="mobile-container">
  <!-- header -->

  <div class="header-section">
    <!-- teaser -->
    <div>
      <p style="inline-height: 0;margin: 0;">Choose your Brand</p>
      <h1>Most popular Brands</h1>
    </div>
  </div>
  <!-- search -->
  <div class="search">
    <%= form_tag brands_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search-bar",
        placeholder: "Find your Brand"
      %>
    <% end %>
    <% unless params[:query].nil? %>
      <div class="close-icon" onclick="window.location.href='./brands'" style="cursor:pointer" title="back to brand overview"><i class="fas fa-times-circle"></i></div>
    <% end %>
  </div>
  <!-- body -->
  <div class="brand-selection">
    <% @brands.each do |brand| %>
      <%= render 'components/brand-card', picture:brand.photo.key, brand:brand %>
    <% end %>
  </div>


</div>

