<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="mobile-container">
  <!-- teaser -->
  <div class="header-section">
    <!-- teaser -->
    <div class="teaser">
      <p>Choose your Brand</p>
      <h1>Most popular Brands</h1>
    </div>
    <!-- avatar -->
    <div class="avatar"><img src="https://i.pravatar.cc/70"></div>
  </div>
</div>
