
<div class="mobile-container">
  <!-- header -->
  <div class="header-section">
    <!-- teaser -->
    <div class="teaser">
      <p>Choose your Brand</p>
      <h1>Most popular Brands</h1>
    </div>
    <!-- avatar -->
    <div class="avatar"><img src="https://i.pravatar.cc/70"></div>
  </div>
  <!-- body -->
  <div class="brand-selection">
  </div>

</div>

