<h1 class="title">Scan</h1>
  <div>
    <video id="video" width="400" height="400"></video>
  </div>

  <p>
    <a class="btn btn-primary" data-brand-id= "<%= @brand_id %>" id="startButton">Scan</a>
    <a class="btn btn-danger" id="resetButton">Reset</a>
  </p>
