
  <div id="scanner-container" data-brand-id= "<%= @brand_id %>" class="scanner-container scan-hide">

    <video class="video-wrapper" onplaying="this.controls=false" id="video"></video>
    <div class="scan-focus">
      <div id="scan-bar" class="scan-bar"></div>
    </div>
    <div class="scan-button-container">
      <%= link_to 'Type in the Barcode', type_brand_path(@brand), class: 'garma-btn-primary blurred-back', style: 'margin: 20px auto;'%>
      <%= link_to brands_path, class:"scan-close-icon", id: "scan-exit" do %>
        <i class="fas fa-times"></i>
      <% end %>
<!--       <a class="scan-close-icon" style="margin-top: 20px" id="resetButton"><i class="fas fa-times"></i></a>
 -->    </div>
  </div>

