<div class="scan-container">
  <video class="video-wrapper" id="video" width="300" height="300"></video>


  <div class="scan-button-container">
    <a class="btn btn-primary" data-brand-id= "<%= @brand_id %>" id="startButton">Scan</a>
    <a class="btn btn-danger" id="resetButton">Reset</a>
  </div>
</div>
