<% width = '70' if local_assigns[:width].nil? %>
<% height = '70' if local_assigns[:height].nil? %>

<div style="width: <%= width %>; height: <%= height %>">
  <svg width="<%= width %>" height="<%= height %>" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M49.561 10.6411C44.0364 10.6411 39.6681 15.1282 39.6681 20.5128C39.6681 26.0257 44.1648 30.3846 49.561 30.3846C54.9571 30.3846 59.4539 26.0257 59.4539 20.5128C59.4539 15.1282 54.9571 10.6411 49.561 10.6411ZM49.561 25.3846C46.8629 25.3846 44.8072 23.2052 44.8072 20.6411C44.8072 17.9487 46.9914 15.8975 49.561 15.8975C52.1306 15.8975 54.3147 18.0769 54.3147 20.6411C54.3147 23.2052 52.1306 25.3846 49.561 25.3846Z" fill="url(#paint0_linear)"/>
  <path d="M60.6102 0L40.8244 0.641026C37.4839 0.897436 34.2719 2.30769 31.8308 4.74359L3.17987 33.3333C-1.05996 37.5641 -1.05996 44.359 3.17987 48.5897L21.424 66.7949C23.4796 68.8462 26.3062 70 29.0043 70C31.7023 70 34.5289 68.9744 36.5845 66.7949L65.2355 38.2051C67.6766 35.7692 69.0899 32.6923 69.3468 29.2308L69.9892 9.48718C70.1177 6.92308 69.0899 4.48718 67.2912 2.69231C65.6209 0.897436 63.1798 0 60.6102 0ZM64.3361 28.8462C64.2076 31.0256 63.3083 32.9487 61.7665 34.4872L32.9871 63.2051C30.803 65.3846 27.2055 65.3846 25.0214 63.2051L6.7773 45C4.59314 42.8205 4.59314 39.2308 6.7773 37.0513L35.4282 8.46154C36.97 6.92308 38.8972 6.02564 40.9528 5.89744L60.7387 5.25641C61.895 5.25641 62.9229 5.64103 63.6937 6.41026C64.4646 7.17949 64.85 8.20513 64.85 9.35897L64.3361 28.8462Z" fill="url(#paint1_linear)"/>
  <defs>
  <linearGradient id="paint0_linear" x1="49.561" y1="10.6411" x2="49.561" y2="30.3846" gradientUnits="userSpaceOnUse">
  <stop stop-color="#6AE29C"/>
  <stop offset="1" stop-color="#4EC5EF"/>
  </linearGradient>
  <linearGradient id="paint1_linear" x1="35" y1="0" x2="35" y2="70" gradientUnits="userSpaceOnUse">
  <stop stop-color="#6AE29C"/>
  <stop offset="1" stop-color="#4EC5EF"/>
  </linearGradient>
  </defs>
  </svg>
</div>
