<% width = '28.6' if local_assigns[:width].nil? %>
<% height = '30' if local_assigns[:height].nil? %>
<div style="width: <%= width %>; height: <%= height %>">
  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0 22.5C0 24.1481 1.22625 25.5037 2.8125 25.7334V26.7188C2.8125 28.5281 4.28437 30 6.09375 30H23.9062C25.7156 30 27.1875 28.5281 27.1875 26.7188V25.7334C28.7737 25.5037 30 24.1481 30 22.5V3.28125C30 1.47188 28.5281 0 26.7187 0H3.28125C1.47187 0 0 1.47188 0 3.28125V22.5ZM24.375 26.7188C24.375 26.9766 24.1641 27.1875 23.9062 27.1875H6.09375C5.83594 27.1875 5.625 26.9766 5.625 26.7188V25.7812H24.375V26.7188ZM27.1875 3.28125V22.5C27.1875 22.7578 26.9766 22.9688 26.7187 22.9688C22.6331 22.9688 20.4141 22.9688 16.4062 22.9688V2.8125H26.7187C26.9766 2.8125 27.1875 3.02344 27.1875 3.28125ZM2.8125 3.28125C2.8125 3.02344 3.02344 2.8125 3.28125 2.8125H13.5937V22.9688C9.58687 22.9688 7.36687 22.9688 3.28125 22.9688C3.02344 22.9688 2.8125 22.7578 2.8125 22.5V3.28125Z" fill="url(#paint0_linear)"/>
  <path d="M11.7741 13.6491C12.3244 13.0988 12.3225 12.21 11.7741 11.6616C11.2481 11.1366 10.3106 11.1366 9.78656 11.6616C9.24188 12.2063 9.23438 13.0969 9.78656 13.6491C10.3331 14.1956 11.2238 14.1984 11.7741 13.6491Z" fill="url(#paint1_linear)"/>
  <path d="M20.2116 13.6491C20.76 13.1006 20.76 12.21 20.2116 11.6616C19.6856 11.1366 18.7481 11.1366 18.2241 11.6616C17.6859 12.1997 17.6625 13.0875 18.2241 13.6491C18.7706 14.1956 19.6612 14.1984 20.2116 13.6491Z" fill="url(#paint2_linear)"/>
  <defs>
  <linearGradient id="paint0_linear" x1="18" y1="-6.70552e-08" x2="15" y2="30" gradientUnits="userSpaceOnUse">
  <stop stop-color="#6AE29C"/>
  <stop offset="1" stop-color="#4EC5EF"/>
  </linearGradient>
  <linearGradient id="paint1_linear" x1="18" y1="-6.70552e-08" x2="15" y2="30" gradientUnits="userSpaceOnUse">
  <stop stop-color="#6AE29C"/>
  <stop offset="1" stop-color="#4EC5EF"/>
  </linearGradient>
  <linearGradient id="paint2_linear" x1="18" y1="-6.70552e-08" x2="15" y2="30" gradientUnits="userSpaceOnUse">
  <stop stop-color="#6AE29C"/>
  <stop offset="1" stop-color="#4EC5EF"/>
  </linearGradient>
  </defs>
  </svg>
</div>

