<% width = '26.7' if local_assigns[:width].nil? %>
<% height = '30' if local_assigns[:height].nil? %>
<div style="width: <%= width %>; height: <%= height %>">
  <svg width="<%= width %>" height="<%= height %>" viewBox="0 0 36 40" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#filter0_i)">
  <path d="M17.8378 0C12.1977 0 7.56757 4.63017 7.56757 10.2703C7.56757 15.9103 12.1977 20.5405 17.8378 20.5405C23.4779 20.5405 28.1081 15.9103 28.1081 10.2703C28.1081 4.63017 23.4779 0 17.8378 0ZM17.8378 5.40541C20.5566 5.40541 22.7027 7.55147 22.7027 10.2703C22.7027 12.9891 20.5566 15.1351 17.8378 15.1351C15.119 15.1351 12.973 12.9891 12.973 10.2703C12.973 7.55147 15.119 5.40541 17.8378 5.40541ZM17.8378 21.6216C8.04681 21.6216 0 29.3619 0 38.9865V40H5.4054V38.9865C5.4054 32.3546 10.8591 27.027 17.8378 27.027C24.8165 27.027 30.2703 32.3546 30.2703 38.9865V40H35.6757V38.9865C35.6757 29.3619 27.6289 21.6216 17.8378 21.6216Z" fill="url(#paint0_linear)"/>
  </g>
  <defs>
  <filter id="filter0_i" x="0" y="0" width="35.6757" height="44" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
  <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
  <feOffset dy="4"/>
  <feGaussianBlur stdDeviation="2"/>
  <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
  <feBlend mode="normal" in2="shape" result="effect1_innerShadow"/>
  </filter>
  <linearGradient id="paint0_linear" x1="17.8378" y1="0" x2="17.8378" y2="40" gradientUnits="userSpaceOnUse">
  <stop stop-color="#6AE29C"/>
  <stop offset="1" stop-color="#4EC5EF"/>
  </linearGradient>
  </defs>
  </svg>
</div>

