<% width = '26.7' if local_assigns[:width].nil? %>
<% height = '30' if local_assigns[:height].nil? %>
<div style="width: <%= width %>; height: <%= height %>">
  <%= image_tag 'user.png', width: width, height: height %>
</div>

