<div class="mobile-container">

 <%= render '/components/product-card' , title: 'Brands', field_icon:'/components/barcode_icon'%>
 <%= render '/components/product-card' , title: 'Fabrics', field_icon:'/components/barcode_icon'%>
 <%= render '/components/product-card' , title: 'Fabrics', field_icon:'/components/barcode_icon'%>



</div>

