.garderobe-wrapper {
  overflow-x: hidden;
  padding: 50px 0;
  h1 {
    max-width: 200px;
    padding-left: 30px;
  }
}
.garderobe-resume-box {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  h4 {
    padding-top: 20px;
    align-self: start;
  }
}
